<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Table</title>
</head>
<body>
    <h1>Expense Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Fname</th>
                <th>Lname</th>
                <th>Email</th>
                <th>Age</th>
                
            </tr>
        </thead>
        <tbody>
            {% for items in objs %}
            <tr>
                <td>{{ items.fname }}</td>
                <td>{{ items.lname }}</td>
                <td>{{ items.email }}</td>
                <td>{{ items.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
