<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Table</title>
</head>
<body>
    <h1>Expense Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Date</th>
                <th>Staff</th>
                <th>Rent</th>
                <!-- <th>Total</th> -->
                <th>OtherExpense</th>
            </tr>
        </thead>
        <tbody>
            <form method="post" action="{% url 'expense' %}">
                {% csrf_token %}
                <tr>
                    <td><input type="date" name="date" value="{{date}}"></td>
                    <td><input type="number" name="staff"></td>
                    <td><input type="number" name="rent"></td>
                    <!-- <td><input type="number" name="total"></td> -->
                    <td><input type="number" name="other"></td>
                    <td><button id="button">Submit</button></td>
                </tr>
            </form>
        </tbody>
    </table>
    <center><a href="{% url 'calc' %}"><button>Calculate</button></a></center>
</body>
</html>
